* {
	margin: 0;
	padding: 0;
}

p {
	font-size: 30px;
}

div {
	border: 1px solid black;
	width: 180px;
	height: 185px;
	margin: 20px;
}

input.overridecss {
    background-color: ButtonFace;
    color:ButtonText;
}

img {
	margin: 10px;
}